h1 {
    color: hotpink;
    /* background: #6dd7f1; */
    background-color: rgb(147, 238, 241);
    font-size: 80px;
}
a {
    color: blue;
    background-color: rgb(252, 185, 185);
    
}