h2 {
    background-color: beige;
    color: blue;
}
.minha_h2 {
    background-color: rgb(9, 34, 34);

}
#seletor_p1 {
    background-color: brown;
    color: azure;

}
.deixar_verde {
    background-color: greenyellow;

}